
body{
background-color: #00aba9;
}
.container{
    margin: auto;
    background: #fefefe;
    width: 800px;
    height:500px;
    border-radius: 10px;
    padding: 30px; 
    margin-top: 2%;
}

addCourseForm{
    margin: auto;
}
.inputText{
        outline: none;
     border-style: solid;
     border-color: rgb(148, 148, 148);
    padding:2px 10px 3px;
    line-height: 23px;
    font-size:15px;
    margin: 10px;
    width: 300px;
    height: 30px;
}
.selectField{
    border-width: 2px;
    background-color: #fefefe;
    outline: none;
     border-style: solid;
     border-color: rgb(148, 148, 148);
    padding:2px 10px 3px;
    line-height: 23px;
    font-size:15px;
    margin: 10px;
    width: 324px;
    height: 39px;  
}
.tablelist{
    margin-top: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
.buttons{
    color: #fefefe;
    background-color:rgb(204, 127, 41);
    border: solid rgb(204, 127, 41);
    border-width: 2px;
    height: 30px;
    width:250px;
    font-size: 17px;
    padding: 0 10px;
    line-height: 30px;
}
.buttons:hover{
    border-color: rgb(133, 83, 27);
}